body {
    background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898;
 background-blend-mode: multiply,multiply;
}

header {
    margin-bottom: 5rem;
  }
.cdv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: white;
    padding: 1rem;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    object-fit: cover;
    border-radius:50%;
    width: 150px;
    height: 150px;
  }

.avatar p {
    padding-left: 1rem;
}

footer {
    bottom: 0;
}


.footer{
    display: flex;
    
    justify-content: space-around;
    background-color: gray;
    color: white;
    padding: 10px;
}
strong {
    color: black;
}


section.container {
    display: flex;
    margin: auto;
    height: 60vh;
    padding: 5rem;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
}

div.img {
margin: auto;
height: 100%;
width: 50%;
}

img {
    
    
}

div.content {
    margin: auto;
}


.content-cam{
    
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    border-radius: 15px;
    height: 50%;
    width: 32%;

}

.tittle-cam{
    text-align: center;
}
video{
    margin-left:2rem;
    margin-left: 10rem;
    border-radius: 5px;
}
